.bt-cancel {
  float: right;
}

.modal-footer {
    margin-bottom: 10px;
    margin-top: 10px;
}

::ng-deep .btn-primary{
  background: rgba(185,157,107,1);
  border-color: #B99D6B;
  border-radius: #B99D6B;
}

::ng-deep .btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:hover,
.btn-primary:focus,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #B99D6B;
  border-color: #B99D6B;
}