.bar-v-middle {
  padding-top: 5px;
}

.button-bar {
  text-align: right;
  background-color: #c8cccf;
}

.custom-label {
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.event {
  background-color: #d4e1ee;
  color: #000000;
  font-size: 10px;
  margin: 5px;
  padding: 3px 10px 3px 10px;
}

.state {
  background-color: #d4e1ee;
  color: #000000;
  font-size: 10px;
  margin: 5px;
  padding: 3px 10px 3px 10px;
}

.custom-button {
  font-size: 16px;
}

.button-bar {
  text-align: right;
}

.footer-label {
  text-align: left;
  color: #999999;
  font-size: 11px;
}

.custom-card {
  background-color: #ffffff;
  padding: 3px 10px 3px 10px;
}

.body-naves {
  background-color: #c8cccf;
  border-radius: 10px;
}

.image-card {
  width: auto;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.btn-bar {
  margin-top: 10px;
}

.nave-bar {
  margin-top: 10px;
}

.col-card {
  margin: 20px;
}

img {
  height: 160px;
  width: calc(100% + 0px);
}

::ng-deep .btn-primary{
  background: rgba(185,157,107,1);
  border-color: #B99D6B;
  border-radius: #B99D6B;
}

::ng-deep .btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:hover,
.btn-primary:focus,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #B99D6B;
  border-color: #B99D6B;
}